<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
    <key>title</key>
    <string>AlertBanners</string>

    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>

            <key>label</key>
            <string>Testing</string>

            <key>footerText</key>
            <string>Creates a normal UIKit alert inside Settings.</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>

            <key>label</key>
            <string>Trigger Test Alert</string>

            <key>action</key>
            <string>testUIAlert</string>
        </dict>
    </array>
</dict>
</plist>
